<div class="row">
    <div class="col-12">
        <h1 class="text-success my-5">DETALLE DEL USUARIO</h1>
    </div>
    <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
        <img class="dev-user__img" src="{{ currentUser?.avatar }}" alt="">
    </div>
    <div class="col-12 col-md-6 col-xl-9 pl-4">
        <h1 class="text-primary border-bottom pb-3">Detalle de {{ currentUser?.name }}</h1>
        <h3 class="text-secondary">Edad: {{ currentUser?.age }}</h3>
        <h3 class="text-secondary border-bottom pb-3">Puesto: {{ currentUser?.work ? currentUser?.work : '------'}}</h3>
        <p class="text-secondary">{{ currentUser?.description }}</p>
    </div>
</div>