<div class="row">
    <div class="col-12">
        <h1 class="text-success my-5">DETALLE DEL USUARIO</h1>
    </div>
    <div class="col-12" *ngIf="currentUser; else loaderComponent;">
        <div class="row">
            <!-- <div class="col-12 col-md-6 col-xl-3 mb-4 text-center">
                <img class="dev-user__img" [src]="currentUser.avatar" alt="">
            </div>
             <div class="col-12 col-md-6 col-xl-9 pl-4">
                <h1 class="text-primary border-bottom pb-3">Detalle de {{ currentUser[0].name }}</h1>
                <h3 class="text-secondary">Edad: {{ currentUser[0].age }}</h3>
                <h3 class="text-secondary border-bottom pb-3" *ngIf="currentUser[0].work">Puesto: {{currentUser[0].work}}</h3>
                <p class="text-secondary">{{ currentUser[0].description }}</p>
            </div> -->
        </div>
    </div>
    <ng-template #loaderComponent>
        <div class="col-12 text-center">
            <img src="https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif" alt="">
        </div>
    </ng-template>
</div>