.dev-footer {
    height: 60px;
    width: 100%;
    padding: 0.5rem 1rem;
    background: rgba(0,0,0,0.2);
    color: rgba(0,0,0,0.6);
    font-size: 1em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}