<div class="container-fluid px-0">
    <div class="row bg-dark h-100">
        <div class="col-12 px-0">
            <app-carousel [items]="carouselData"></app-carousel>
        </div>
    </div>
</div>

<br><br>

<div class="row">
    <div class="col-12 text-center">
        <app-title-h1 type="danger" text="LISTA DE USUARIOS"></app-title-h1>
    </div>

    <ng-container *ngIf="users; else elseUsersLoader;">
        <app-card-user [data]="user" *ngFor="let user of users" class="col-12 col-md-6 col-xl-3"></app-card-user>
    </ng-container>

    <!-- Init loader component -->
    <ng-template #elseUsersLoader>
        <app-card-loader class="col-12 col-md-6 col-xl-3" [bars]=4 [imageSize]="100" *ngFor="let i of [0,1,2,3,4,5,6]">
        </app-card-loader>
    </ng-template>
</div>